@use '../../styles/scss/fonts';
@use '../../styles/scss/variables' as *;

.footer-logo__img {
  width: 32px;
  height: 32px;
  background: url('/images/rss-logo.svg') no-repeat center/cover;
}

.footer-logo__link {
  cursor: pointer;
}

.cart-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;
  border: none;

  background-color: transparent;
  background-image: $cart-shopping;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transition: all 0.1s ease-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-image: $cart-shopping-hover;
  }
}

.cart-icon-wrapper {
  position: relative;
}

.count-item-icon {
  pointer-events: none;

  position: absolute;
  top: -6px;
  right: -6px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 50%;

  font-family: 'Cera Pro', sans-serif;
  color: $text-secondary;

  background-color: rgb(163 235 183 / 87%);

  &:empty {
    background-color: transparent;
  }
}
