@use '../../components/button/styles.scss' as buttonStyles;
@use '../../components/input/styles.scss' as inputStyles;
@use '../../styles/scss/variables.scss' as *;

.login-page {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  justify-content: center;

  width: 450px;
  padding: 20px 40px;

  @media screen and (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
    width: 350px;
  }
}

.close {
  cursor: pointer;

  display: flex;
  justify-self: flex-end;

  width: 25px;
  height: 25px;

  background-image: url("data:image/svg+xml,%3csvg%20class='svg-icon'%20style='width:%201em;%20height:%201em;vertical-align:%20middle;fill:%20currentColor;overflow:%20hidden;'%20viewBox='0%200%201024%201024'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M626.723881%20334.476841%20512%20449.200722%20397.275095%20334.476841l-62.799278%2062.799278%20114.724905%20114.724905L334.475817%20626.723881l62.799278%2062.799278%20114.724905-114.724905%20114.724905%20114.724905%2062.799278-62.799278L574.798255%20512l114.724905-114.724905L626.723881%20334.476841zM512%2068.191078c-245.204631%200-443.808922%20198.60429-443.808922%20443.808922s198.60429%20443.808922%20443.808922%20443.808922%20443.808922-198.60429%20443.808922-443.808922S757.203608%2068.191078%20512%2068.191078zM512%20867.046319c-195.71959%200-355.047342-159.327752-355.047342-355.047342s159.327752-355.047342%20355.047342-355.047342%20355.047342%20159.327752%20355.047342%20355.047342S707.71959%20867.046319%20512%20867.046319z'%20/%3e%3c/svg%3e");
}

.wrapper-form-login {
  justify-items: center;

  .link-registration {
    cursor: pointer;
  }

  .group {
    flex-direction: column;
    align-items: center;

    .input {
      width: 100%;
    }
  }

  .container-registration {
    display: flex;
    gap: 10px;
    align-items: center;
    min-height: 20px;

    .login-span {
      display: block;
      align-self: stretch;
      width: 1px;
      border-left: 1px solid $primary-button;
    }

    .title-login {
      color: $primary-button;
    }
  }
}
