@use '../../styles/scss/variables' as *;
@use '../../styles/scss/fonts';

.root-input {
  padding: $spacing-sm;
  border: 1px solid $input-border;
  border-radius: $border-radius-input;
  color: $text-primary;

  &::placeholder {
    color: $text-placeholder;
  }
}
