@use '../../styles/scss/variables' as *;
@use '../../styles/scss/fonts';

.wrapper-modal {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #00000090;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;

  padding: 24px;
  border-radius: $spacing-xs;

  font-family: $font-family-base;

  background-color: #fff;
}

.content {
  font-size: medium;

  &.info {
    color: green;
  }

  &.error {
    color: rgb(195 0 0);
  }
}

.button-close {
  padding: $spacing-sm;
  border: none;
  border-radius: $border-radius-input;

  color: $text-primary;

  background-color: rgb(210 210 210);

  &:disabled {
    cursor: not-allowed;
    color: rgb(37 37 32);
    background-color: rgb(83 83 83);
  }

  &:not(:disabled):hover {
    color: rgb(88 168 70);
    background-color: rgb(224 229 211);
  }
}
