.buttons-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  .modal__button {
    cursor: pointer;
  }

  .modal__confirm,
  .modal__cancel {
    color: rgb(86 86 86);
  }
}
