@import '../../components/input/input.scss';
@import '../../components/button/button.scss';
@import '../../styles/scss/variables.scss';

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  justify-content: center;

  max-width: 500px;
  padding: 20px 40px;
}

.login__header {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.login__message {
  font-size: $font-size-regular;
  font-weight: normal;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;

  .error-message {
    position: fixed;
    font-size: 0.85rem;
    color: $warning-color;
  }

  .form__inputbox--password {
    position: relative;
    display: flex;

    .eye {
      cursor: pointer;

      position: absolute;
      top: 10px;
      right: 10px;

      width: 25px;
      height: 18px;

      background-size: cover;
    }

    .eye-close {
      background-image: url('../../assets/images/eye_close.png');
    }

    .eye-open {
      background-image: url('../../assets/images/eye_open.png');
    }
  }
}
