@use '../../components/input/input.scss';
@use '../../components/button/button.scss';
@use '../../styles/scss/variables.scss' as *;

.login-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  justify-content: center;

  width: 450px;
  padding: 20px 40px;
  @media screen and (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
    width: 350px;
  }
}

.close {
  cursor: pointer;
  position: fixed;
  top: 1%;
  left: 90%;
  width: 25px;
  height: 25px;
  background-image: url("../../assets/images/close.svg");
  @media screen and (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
    left: 80%;
  }
}
.wrapper-form-login {
  justify-items: center;

  .link-registration {
    cursor: pointer;
  }

  .group {
    flex-direction: column;
    align-items: center;

    .input {
      width: 100%;
    }
  }
  .container-registration {
    display: flex;
    gap: 10px;
    align-items: center;
    min-height: 20px;

    .login-span {
      display: block;
      align-self: stretch;
      width: 1px;
      border-left: 1px solid $primary-button;
    }
    .title-login {
      color: $primary-button;
    }
  }

}
