@use '../../styles/scss/variables.scss' as *;
@use '../../styles/scss/fonts';

.selected {
  font-weight: $font-weight-bold;
  color: $primary-text-green;
  text-decoration: underline;
}

.selected-category {
  font-weight: $font-weight-bold;
  color: $primary-text-green;
  text-decoration: underline;
  background-color: rgb(224 241 224);
}

.old-price {
  order: 2;
  font-size: $font-size-button-cards;
  color: $text-secondary;
  text-decoration: line-through;
}

.catalog-page {
  display: flex;
  gap: $spacing-lg;
  justify-content: space-between;

  max-width: 1380px;
  padding: 30px 10px;

  font-family: $font-family-base;

  background-color: $bg-primary;

  @media screen and (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
    width: 350px;
  }
}

.container-filters {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  width: 59%;

  .category__list-title {
    color: $primary-text-green;
  }

  .price-filter {
    display: flex;
    flex-wrap: wrap;

    font-size: $font-size-h4;
    font-weight: $font-weight-bold;
    color: $primary-text-green;

    .price-filter-title {
      width: 100%;
      padding-bottom: $spacing-md;
    }

    .price-filter-input {
      max-width: 100px;
    }
  }
}

.category__list {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;

  padding-top: $spacing-md;

  list-style: none;

  .category__list-item {
    display: flex;
    justify-content: space-between;
    padding: $spacing-sm;

    &:hover {
      cursor: pointer;
      color: $primary-text-green;
    }
  }
}

.container-products-catalog {
  flex-grow: 1;

  .catalog-header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;

    .catalog-header__list {
      display: flex;
      gap: $spacing-xxl;

      .catalog-header__list-item {
        cursor: pointer;
        list-style: none;
      }
    }

    .catalog-header__sort {
      max-width: 250px;

      .catalog-header__select {
        max-width: 100px;
        border: none;
      }
    }
  }

  .catalog-footer {
    display: flex;
    gap: $spacing-sm;
    justify-content: center;

    .footer__page-number {
      &:hover {
        cursor: pointer;
        color: $primary-text-green;
      }
    }
  }
}

.product-cards__container {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-xxl;

  padding: 0 50px;
  padding-top: $spacing-lg;

  .card {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: $spacing-sm;

    width: 300px;
    height: 360px;
    border: 1px solid transparent;

    .discount {
      position: absolute;

      width: 25%;
      padding: $spacing-xs 10px;

      color: white;
      text-align: center;

      background-color: $primary-button;
    }

    .card-img {
      width: 100%;
      height: 60%;

      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .card-description {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* Число строк */

      text-overflow: ellipsis;
    }

    .card-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .price-container {
        display: flex;
        gap: $spacing-sm;

        .card-price,
        .card-discount-price {
          order: 1;
          font-size: $font-size-h3;
          font-weight: $font-weight-medium;
          color: $primary-text-green;
        }
      }

      .buttons-container {
        position: relative;
        display: flex;
        margin-top: 0;

        .card-like {
          cursor: pointer;

          position: absolute;
          top: 19%;
          right: 114%;

          width: 25px;
          height: 25px;

          visibility: hidden;
          background-image: url('../../../public/images/heart_stroke.svg');
          background-repeat: no-repeat;
          background-size: contain;
        }

        .card-like-filled {
          visibility: visible;
          background-image: url('../../../public/images/heart_filled.svg');
        }

        .card-button {
          background-color: $primary-button;
        }
      }
    }

    &:hover {
      cursor: pointer;
      border: 1px solid $border-color;

      .card-footer > .buttons-container > .card-like {
        visibility: visible;
      }
    }
  }
}
