@use '../../styles/scss/variables' as *;
@use '../../styles/scss/fonts';

.root-button {
  padding: $spacing-sm;
  border: none;
  border-radius: $border-radius-input;

  color: $text-primary;

  background-color: rgb(210 210 210);

  &:disabled {
    cursor: not-allowed;
    color: rgb(96 96 96);
    background-color: rgb(143 143 143);
  }

  &:not(:disabled):hover {
    color: rgb(88 168 70);
    background-color: rgb(224 229 211);
  }
}
