@use '../../styles/scss/_variables' as *;

.actions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

  margin: 6px;
}

.account-button,
.btn,
.btn-add-change,
.edit {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 95px;
  height: 35px;
  padding: 4px 6px;
  border: none;
  border-radius: 5px;

  font-family: 'Cera Pro', sans-serif;
  font-size: 11px;
  color: white;

  background-color: $primary-button;
}

.default-billing,
.default-shipping,
.as-billing {
  width: 20px;
  height: 20px;
}

.billing-addresses-list {
  display: flex;
  flex-direction: column;
}

.group-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.group-account {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
}

.save {
  color: white;
  background-color: darkred;
}

.error-message {
  min-height: 28px;

  @media screen and (width >= 0) and (width <= 540px) {
    min-height: 42px;
  }
}

.container-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

[class*='error-message-country-'],
[class*='error-message-country-billing-'],
[class*='error-message-country-billing-unsort-'] {
  min-height: 75px;

  @media screen and (width >= 0) and (width <= 600px) {
    min-height: 44px;
    font-size: 12px;
  }
}

[class*='error-message-postal-code-'],
[class*='error-message-postal-code-billing-'],
[class*='error-message-postal-code-billing-unsort-'] {
  min-height: 75px;

  @media screen and (width >= 0) and (width <=600px) {
    min-height: 44px;
    font-size: 12px;
  }
}

[class*='error-message-city-'],
[class*='error-message-city-billing-'],
[class*='error-message-city-billing-unsort-'] {
  min-height: 56px;

  @media screen and (width >= 0) and (width <= 600px) {
    min-height: 44px;
    font-size: 12px;
  }
}

[class*='error-message-street-'],
[class*='error-message-street-billing-'],
[class*='error-message-street-billing-unsort-'] {
  min-height: 56px;

  @media screen and (width >= 0) and (width <= 600px) {
    min-height: 44px;
    font-size: 12px;
  }
}
